{% extends 'base.html' %}
{% block title %}Búsqueda{% endblock %}

{% block content %}
	<h1>Resultados</h1>
	{% for articulo in articulos %}
   	
			
		<!-- blog entry -->
            <h1><a href="{% url 'ver_articulo' articulo.id %}">{{ articulo.titulo }} </a>
            </h1>
            <!--autor
            <p class="lead">by <a href="index.php">Start Bootstrap</a>
            </p>
            <hr>
            -->
            <!--fecha
            <p>
                <span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
            <hr>
            -->
            <img src="{{ articulo.imagen.url }}" class="img-responsive">
            <hr>
            <p>
            	<article {% if not user.is_authenticated %} class="borroso" {% endif %}>
					{{ articulo.contenido|truncatewords_html:100}}  
				</article>

            </p>
            <a class="btn btn-primary" href="{% url 'ver_articulo' articulo.id %}">Leer más <span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>
    {% endfor %}
{% endblock %}